@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
/* font-family: 'Montserrat', sans-serif; */
/* #539fd8 #376d96 #d8eaf6 #351569 #5a3c8b */
body {
  font-family: "Montserrat";
}
#mainBlock {
  padding: 0 50px;
}

/* The Birth of Isaac, gen 21:1-7 */
#mainBlock .blocksOfSection {
  background: linear-gradient(#351569, #643074);
  color: #fff;
}
#mainBlock .blocksOfSection:nth-child(odd) {
  position: relative;
  box-shadow: 0 10px 20px#000000;
}
#mainBlock .blocksOfSection:nth-child(even) {
  background: linear-gradient(#d8eaf6, #fff);
  color: #fff;
  box-shadow: inset 0 -10px 20px #000000;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #d8eaf6;
  padding-bottom: 30px;
}

#mainBlock .blocksOfSection:nth-child(even) h1 {
  color: #351569;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  color: gold;
  padding-bottom: 15px;
  text-shadow: 2px 2px 5px #000;
}
h3 {
  text-align: right;
  color: gold;
  bottom: 100px;
  font-weight: bold;
}
h4 {
  font-size: 7rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 5px 5px black;
  padding: 20%;
}

#mainBlock .blocksOfSection:nth-child(even) h2 {
  color: #539fd8;
}

p {
  font-size: 2rem;
  text-align: justify;
  font-weight: 400;
}
p span:hover {
  transition-duration: 500ms;
  background-color: #d8eaf6;
  color: #351569;
}
#mainBlock .blocksOfSection:nth-child(even) p {
  color: #351569;
}
#mainBlock .blocksOfSection:nth-child(even) p span:hover {
  transition-duration: 500ms;
  background-color: #351569;
  color: #d8eaf6;
}

sup {
  color: gold;
  font-weight: 700;
}
#mainBlock .blocksOfSection:nth-child(even) sup {
  color: #539fd8;
}

/* THIS IS FOR TOOLTIP  */

a {
  color: gold;
  font-weight: 700;
}

a,
strong {
  text-shadow: 2px 2px 5px black;
}

a:hover {
  color: orange;
}

a .tooltiptext {
  visibility: hidden;
  background-color: #d8eaf6;
  color: #351569;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 5px 5px 20px black, -5px -5px 20px black;

  /* Position the tooltip */
  position: fixed;
  z-index: 1;
  left: 10px;
  top: 10px;
  right: 10px;
  text-shadow: 2px 2px white;
}

#mainBlock .blocksOfSection:nth-child(even) p span a .tooltiptext:hover {
  background-color: #d8eaf6;
  color: #351569;
}

a:hover .tooltiptext {
  visibility: visible;
}
